body {
    background-color: #a1e6e3;
    display:grid;
}
#main-div {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    left: 0px;
    top: 50px;
    background-color: #d7fffd;
}

#title {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eca0b6;
    width: 400px;
    position: absolute;
    left: 30%;
    border: 2px solid black;
}

#input-div {
    position: absolute;
    left: 150px;
    top: 100px;
    background-color: #fafba4;
    width: 250px;
    height: 300px;
    padding-top: 20px;
    padding-left: 10px;
    border: 2px solid black;
}

#outputList{
    right: 800px;
    position: absolute;
    top: 500px; 
    width: 250px;
    height: 350px;
    background-color: #fafba4;
    border: 2px solid black;

}